<div class="container">
  <div class="row">
    <div class="kokuban-s2 mt-5 col-md-4">
      <%= attachment_image_tag @customer, :profile_image, size: "100x100", fallback: "no_image.jpg" %><br>
      <%= @customer.name %><br>
      <p>自己紹介</p>
      <%= @customer.introduction %>
    </div>
    <div class="col-6">
  </div>
</div>
