<div class="container">
  <div class="row">
   <%= render 'public/categories/index', categorys: @categorys %>
    <div class="kokuban-s10 offset-1 col-md-8">
      <h4 class="text-body text-center border-bottom">すべての投稿</h4>
      <%= render 'public/posts/index', post: @posts %>
    </div>
  </div>
</div>