<div class="container">
  <div class="row">
    <%= render 'public/categories/index', categorys: @categorys, post_all: @post_all %>
    <div class="kokuban-s11 offset-1 col-md-8">
      <h4 class="text-body text-center border-bottom"><span class="fa fa-tag"></span><%= @tag.name %>の投稿一覧</h4><br>
      <%= render 'public/posts/index', post: @posts %>
    </div>
  </div>
</div>

