<div class="container">
  <div class="row">
    <%= render 'public/categories/index', categorys: @categorys %>
    <div class="kokuban-s10 offset-1 col-md-8">
      <h4 class="text-body text-center border-bottom">
      <% if @keywords.empty? %>
        すべての投稿
      <% else %>
        "<%= @keywords %>" を含む投稿
      <% end %>
      </h4>
      <% if @posts.empty? %>
        <h5 class="text-center">該当する投稿はありません</h5>
      <% else %>
        <%= render 'public/posts/index', post: @posts %>
      <% end %>
    </div>
  </div>
</div>