<ul class="sakura">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<div class="container">
  <div class="row">
    <div class="mt-5 text-center mx-auto kokuban-s4">
      <div class="col-12">
        <h3 class="about-heading text-body">NewEmployeeについて</h3><br>
        <h6 class="mt-3 text-body">NewEmployeeは様々な仕事についての質問や相談を投稿して、先輩達から質問の回答や<br>
        アドバイスを貰うことで解決していくヒントを得ることができます。</h6>
        <h3 class="about-heading mt-3 text-body">使い方</h3>
        <h6 class="mt-3 text-body">ユーザー登録をして投稿する、を選び質問や相談したい職種のカテゴリーを選択し、<br>
        タイトル、投稿内容を入力します。タグはなくても投稿はできますが、タグを付けると<br>
        検索で見つけてもらいやすくなったり、どういう仕事の投稿なのかがわかりやすくなります。</h6>
        <h3 class="about-heading mt-3 text-body">様々な利用方法</h3>
        <h6 class="mt-3 text-body">質問や相談の投稿はもちろん、仕事であった良かったことを投稿し、コメントでお互いに<br>
        褒め合うことで喜びを共有し合うこともできます。仕事で失敗をしてしまった時は投稿を<br>
        メモの代わりとしても利用でき、どこが良くなかったのかを振り返り対策を考えることで<br>
        同じ失敗を繰り返すことを無くしたり、減らすことができたりなど使い方は自由です！<br>
        過去の投稿を見つけたい時はタイトルや投稿内容、タグ、カテゴリで検索すれば探している<br>
        投稿を簡単に見つけることができます。
        <h3 class="about-heading mt-3 text-body">さっそく始めましょう！</h3>
        <h6 class="mt-3 text-body">ユーザー登録をすることで投稿、コメントをすることができるようになります。<br></h6>
        <%= link_to 'ユーザー登録する', new_customer_registration_path, class: "mt-3 text-light btn btn-success font-weight-bold" %>
      </div>
    </div>
  </div>
</div>