<ul class="sakura">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto text-center kokuban-s4">
      <h3 class="about-heading text-body"><strong>NewEmployeeについて</strong></h3><br>
      <h6 class="mt-3 text-body about-text mx-auto"><b>NewEmployee</b>は様々な仕事についての質問や相談を投稿して、先輩達から質問の回答や<br>
      アドバイスを貰うことで解決していくヒントを得ることができます。</h6>
      <h3 class="about-heading mt-3 text-body"><strong>使い方</strong></h3>
      <div class="about-image1"></div>
      <h6 class="text-body about-text"><strong>ユーザー登録をしてログインすると投稿とコメントをすることができるようになります。</strong><br>
      質問するにはログインして投稿するを選び、<br>
      ①のカテゴリーでは質問したいことの業種を選択します。<br>
      ②は質問や相談したいことのタイトルを書き込みます。<br>
      ③タグは①で選択したカテゴリーの職種や、投稿で強調したいことを登録します。<br>
      タグは登録しなくても投稿ができますが、同じ職種の方から検索で見つけてもらいやすくなるので
      登録しましょう！タグは複数登録する事ができます。<br>
      ④の画像は必要な場合、画像を選択します。<br>
      ⑤投稿内容に質問したい事や相談の内容を書き込みましょう。<br>
      全て書き終えたら投稿するボタンを押し、他のユーザーからのコメントを待つだけです。<br>
      書き間違いがあっても投稿を後から編集する事ができます。</h6>
      <div class="about-image2 mt-3"></div>
      <h6 class="text-body about-text"><strong>検索</strong>では、カテゴリー、タイトル、タグ、投稿内容で投稿を検索する事ができます。<br>
      検索したいワードごとにスペースを開ける事でカテゴリーとタイトル、タイトルとタグ等複数の条件で検索する事ができます。</h6>
      <h3 class="about-heading mt-3 text-body"><strong>様々な利用方法</strong></h3>
      <h6 class="mt-3 text-body about-text">質問や相談の投稿はもちろん、仕事であった良かったことを投稿し、コメントでお互いに<br>
      褒め合うことで喜びを共有し合うこともできます。仕事で失敗をしてしまった時は投稿を<br>
      メモの代わりとしても利用でき、どこが良くなかったのかを振り返り対策を考えることで<br>
      同じ失敗を繰り返すことを無くしたり、減らすことができたりなど使い方は自由です！<br>
      <h3 class="about-heading mt-3 text-body"><strong>さっそく始めましょう！</strong></h3>
      <h6 class="mt-3 text-body">ユーザー登録をすることで投稿、コメントをすることができるようになります。<br></h6>
      <%= link_to 'ユーザー登録する', new_customer_registration_path, class: "mt-3 text-light btn btn-success font-weight-bold", style: "z-index: 100;" %>
    </div>
  </div>
</div>