<div class="top-container">
  <div id="container">
    <div id="theTarget">
      <div class="top-image1"></div>
      <div class="top-image2"></div>
      <div class="top-image3"></div>
      <div class="top-image4"></div>
      <div class="top-image5"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
     <div class="kokuban-s0 col-md-3">
       <h4 class="text-white">カテゴリー</h4><br>
       <%= @categorys.each do |category| %>
         <%= category.name %>
       <% end %>
    </div>
    <div class="kokuban-s0 offset-1 col-md-8">
      <h4 class="text-white">投稿一覧</h4><br>
      <% @posts.each do |post| %>
        <%= link_to public_post_path(post.id) do %>
          <p class="mypage-post-title mt-3 text-white"><%= post.title %></p><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>