<!-- ユーザーごとの投稿検索フォーム -->
<%= form_with url: public_customers_post_search_path, method: :get, local: true do |f| %>
  <div class="input-group post-search mx-auto">
    <%= f.text_field :keyword, placeholder: "#{@customer.name}さんの投稿を検索する", class: "form-control" %>
    <span class="input-group-append post-search-btn">
      <%= button_tag type: 'submit', class: "btn btn-outline-secondary text-white" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </span>
  </div>
<% end %>