/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');


// 全ページ共通
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  position: relative;
}

body {
  background-color: #FDF5E6;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: green;
}

.tag-name {
  display: block;
}

.fa-tag:before {
  margin-right: 10px;
}

.text-white-link:hover{
  color: #5D99FF;
}

.word-search {
  width: 320px;
}

@media screen and (max-width:768px) {

  .word-search {
    width: 250px;
  }
}

// メニューボタン
#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  left: -120%;
  width: 40%;
  height: 100%;/*ナビの高さ*/
  background-color: rgba( 0, 0, 0, 0.7);
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  z-index: 999;
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/
#g-nav li{
  list-style: none;
  text-align: center;
}

#g-nav li a{
  padding:10px;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.openbtn{
  position:fixed;
  z-index: 9999;
  bottom: 80px;
  left: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #222222;
  border-radius: 50%;
}

/*×に変化*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top:15px;
}

.openbtn span:nth-of-type(2) {
  top:23px;
}

.openbtn span:nth-of-type(3) {
  top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

//ページ上下移動ボタン
.pagetop{
  display: none;
  position: fixed;
  right: 15px;
  bottom: 100px;
  z-index: 999;
}
.pagetop a{
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #7db4e6;
  border-radius: 50%;
  line-height: 50px;
}
.pagetop a i{
  font-size: 20px;
  color:#fff;
  line-height: 50px;
}

.pagebottom{
  display: none;
  position: fixed;
  right: 15px;
  bottom: 40px;
  z-index: 999;
}
.pagebottom a{
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #7db4e6;
  border-radius: 50%;
  line-height: 50px;
}
.pagebottom a i{
  font-size: 20px;
  color:#fff;
  line-height: 50px;
}
// エラーメッセージ
.error-message {
  display: inline-block;
  color: red;
}

// バリデーションエラー時のレイアウトの崩れ防止
.field_with_errors {
  display: contents;
}

// ヘッダー
header {
  width: 96%;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 45px 45px;
  position: relative;
  z-index: 999;
}

.navbar-nav li a {
	position: relative;
	text-decoration: none;
	display: inline-block;
}

.navbar-nav li.current a,
.navbar-nav li a:hover {
	color: #fff;
}

.navbar-nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: white;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.navbar-nav li.current a::after,
.navbar-nav li :hover::after {
  transform: scale(1, 1);
}

.navbar-brand h2 {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

// topページ
#container {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-size: cover;
}

.top-heading {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  background-color: rgba( 0, 0, 0, 0.5);
  z-index: 900;
  margin: 0 auto;
}

.top-heading-text {
  padding-top: 250px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.top-image1 {
  background-image: image-url("top-image1.jpg");
}
.top-image2 {
  background-image: image-url("top-image2.jpg");
}
.top-image3 {
  background-image: image-url("top-image3.jpg");
}
.top-image4 {
  background-image: image-url("top-image4.jpg");
}

.kokuban-s0 {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  background: white;
  margin-top: 550px;
}

.kokuban-s00 {
  width: 100%;
  padding: 1em;
  background-color: white;
  border-radius: 3px;
  margin-top: 550px;
}

.top-page-profile-image {
  border-radius: 50%;
}

.top-post-title {
  width: 100%;
  display: inline-block;
}

// topページレスポンシブ
@media screen and (max-width:768px) {

  .top-post-all {
    margin: 0 auto;
    margin-top: 50px;
  }

  .kokuban-s0 {
    order: 2;
    margin-top: 50px;
  }

  .kokuban-s00 {
    order: 1;
    margin-top: 550px;
  }

}

// ログインページ
.kokuban-s3 {
  padding: 1em;
  background-color: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  margin: 0 auto;
  padding-left: 100px;
}

// aboutページ
.about-heading {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.about-text {
  line-height: 30px;
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.kokuban-s4 {
  width: 90%;
  padding: 1em;
  color: #fff;
  background-color: white;
}

.about-image1 {
  margin: 0 auto;
  background-image: image-url("about-image1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 500px;
}

.about-image2 {
  width: 70%;
  height: 200px;
  background-image: image-url("about-image2.jpg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.sakura {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sakura li{
  position: absolute;
  list-style: none;
  top: -50px;
  background: #ffdbed;
  border-radius: 0% 70%;
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}


@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.sakura li:nth-child(1){
  left: 0%;
  width: 24px;
  height: 15px;
  animation: fall 10s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.sakura li:nth-child(2){
  left: 5%;
  width: 13px;
  height: 9px;
  animation: fall 15s linear infinite,
             sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;
}

.sakura li:nth-child(3){
  left: 15%;
  width: 16px;
  height: 10px;
  animation: fall 9s linear infinite,
             sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;
}

.sakura li:nth-child(4){
  left: 30%;
  width: 16px;
  height: 10px;
  animation: fall 8s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.sakura li:nth-child(5){
  left: 40%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
             sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
.sakura li:nth-child(6){
  left: 55%;
  width: 24px;
  height: 15px;
  animation: fall 11s linear infinite,
             sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.sakura li:nth-child(7){
  left: 65%;
  width: 16px;
  height: 10px;
  animation: fall 7s linear infinite,
             sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.sakura li:nth-child(8){
  left: 50%;
  width: 13px;
  height: 9px;
  animation: fall 7s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.sakura li:nth-child(9){
  left: 80%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}

@media screen and (max-width:991px) {
  .about-image1 {
    height: 300px;
  }

  .about-image2 {
    height: 100px;
  }
}

// マイページ
.customer_plofile_image {
  border-radius: 50%;
}

.kokuban-s5 {
  padding: 1em;
  background: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}

.mypage-post-title {
  display: inline-block;
}

.post-all-count {
  font-size: 20px;
}

@media screen and (max-width:768px) {

  .kokuban-s5 {
    margin: 0 auto;
    margin-top: 50px;
  }

}

// ユーザー編集画面
.kokuban-s6 {
  padding: 1em;
  background: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  margin: 0 auto;
  padding-left: 50px;
}

//　投稿一覧画面
.kokuban-s10 {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  background: white;
  margin-top: 50px;
}

.kokuban-s11 {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  background: white;
  margin-top: 50px;
}

@media screen and (max-width:768px) {

  .kokuban-s11 {
    margin: 0 auto;
    margin-top: 550px;
    order: 1;
  }

  .kokuban-s10 {
    order: 2;
    margin-top: 50px;
  }

}

// カテゴリー検索一覧画面
.kokuban-s11 {
  padding: 1em;
  border-radius: 3px;
  background: white;
  margin-top: 50px;
}

// タグ検索一覧画面
.kokuban-s13 {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  background: white;
  margin-top: 50px;
}


// ユーザーの過去の投稿一覧画面
.kokuban-s12 {
  width: 90%;
  padding: 1em;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

.customer_profile_image {
  border-radius: 50%;
}

.post-search {
  width: 250px;
  font-size: 15px;
}

.post-search-btn {
  height: 35px;
}

.post-search-count {
  font-size: 20px;
}

// 新規投稿画面
.kokuban-s7 {
  width: 80%;
  padding: 1em;
  background: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  margin: 0 auto;
}

//　投稿詳細画面
.kokuban-s8 {
  width: 80%;
  padding: 1em;
  background: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  margin: 0 auto;
}

.post-show-name {
  display: inline-block;
}

//　投稿編集画面
.kokuban-s9 {
  width: 80%;
  padding: 1em;
  background: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  margin: 0 auto;
}

//　コメント編集画面
.kokuban-s14 {
  padding: 1em;
  background: #006633;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  margin: 0 auto;
}

.comment-edit-text {
  font-size: 20px;
}

//　お問い合わせ
.contact-form {
  width: 80%;
  margin: 0 auto;
}

.contact-contents {
  border-bottom: 1px solid black;
}

// フッター
footer {
  width: 100%;
  height: 180px;
  margin-top: 150px;
  background-color: #222222;
}

.footer-logo {
  font-size: 35px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.footer-nav {
  font-size: 15px;
  margin-left: auto;
}
