/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

header {
  width: 94%;
  background-color: #00CC00;
  border-radius: 45px 45px;
  position: relative;
  left: 40px;
  z-index: 1;
}

.navbar-nav li a {
	position: relative;
	text-decoration: none;
	display: inline-block;
}

.navbar-nav li.current a,
.navbar-nav li a:hover {
	color: #fff;
}

.navbar-nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: white;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.navbar-nav li.current a::after,
.navbar-nav li :hover::after {
    transform: scale(1, 1);
}

.navbar-brand h2 {
  color: white;
  font-family: Comic Sans MS;
}

#container {
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    background-size: cover;
  }

  .top-image1 {
    background-image: url(test1.jpg);
  }
  .top-image2 {
    background-image: url(test2.jpg);
  }
  .top-image3 {
    background-image: url(test3.jpg);
  }
  .top-image4 {
    background-image: url(test4.jpg);
  }
  .top-image5 {
    background-image: url(test5.jpg);
  }
