<div class="container">
  <div class="row mt-3">
    <div class="kokuban-s10 mx-auto">
      <h4 class="text-body text-center">通知</h4>
      <%= link_to public_notifications_destroy_all_path, method: :delete, data: { confirm: '通知をすべて削除します' } do %>
        <i class="fas fa-trash border btn btn-danger py-3"><span class="ml-3">通知をすべて削除する</span></i>
      <% end %>
        <hr>
      <% if @notifications.exists? %>
        <div class="users-index">
        <%= render @notifications %>
        </div>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>